<div class="row">
	<div class="col-12 col-md-6">
		<app-card HeaderVisible="true">
			<div header>Crear Usuario</div>
			<form (ngSubmit)="SubmitForm($event)">

			
				<div class="form-group">
					<label>Rol</label>
					<select name="Rol" class="form-control"
						[(ngModel)]="FormData.Rol">
						<option [ngValue]="null">SELECCIONE</option>
						<option value="0">Administrador</option>
						<option value="1">Ventas</option>
						<option value="2">Registro de Cliente</option>
					</select>
				</div>
				<!--
				<div class="form-group">

					<label>Fecha</label>
					<input type="date" name="EventDate" class="form-control" required 
						placeholder="Fecha de Movimiento"
						[(ngModel)]="FormData.EventDate" />
				</div>-->

				<div class="form-group">
					<label>Usuario</label>
					<input type="email" name="email" class="form-control" required 
						placeholder="Correo electronico"
						[(ngModel)]="FormData.Email" />
				</div>

				<div class="form-group">
					<label>Contraseña</label>
					<input type="password" name="password" autocomplete="*****" class="form-control" required
					placeholder="Contraseña"
					[(ngModel)]="FormData.Password"
										/>
				</div>

				<div class="form-group" [hidden]="!IsLoadingSubmit">
					<app-progressbar></app-progressbar>
				</div>
				<app-alert #alert1>
				</app-alert>
				<div class="btn-group btn-block" role="group">
				
					<button type="submit" class="btn btn-success">Crear</button>
				</div>
			</form>
		</app-card>
	</div>
</div>

